@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.logo img {
  position: fixed;
  width: 80px;
  transform: translateY(-10px);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 90px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.nav-links-div {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.cart-button img {
  position: fixed;
  top: 35px;
  right: 30px;
  width: 30px;
  cursor: pointer;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 400px;
  justify-content: space-around;
  margin-bottom: 90px;
}

.content h3 {
  margin-bottom: 0;
}

.item {
  display: flex;
  width: 800px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
}

.item h2 {
  text-align: center;
}

.item img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}

.description {
  text-align: left;
}

#stock {
  position: absolute;
  right: 10px;
  bottom: 10px;
  min-width: 80px;
}

#cart {
  position: fixed;
  padding: 20px;
  right: 0;
  top: 70px;
  border: solid black 2px;
  margin-right: 10px;
  border-radius: 3%;
  animation: .5s ease-out 0s 1 slideInFromRight;
}

#cart h1 {
  margin-top: 0
  }


/* below is styling for AllCustomers & SingleCustomers */

.allCustomers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 50px;
  border: 2px solid black;
  padding: 20px;
}

.singleCustomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.singleCustomerInfo {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid black;
  padding: 20px;
}

/* below is styling for all the updates */
.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

input {
  margin-bottom: 10px;
  text-align: center;
}

#updateCustomerButt {
  text-align: center;
    display: block;
    margin: 0 auto;
}

#updateItemButt {
  text-align: center;
    display: block;
    margin: 0 auto;
}

textarea[name=description] {
  width: 300px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
